$content-width: 700px;
$overhang: 50px;

html,
body {
	padding: 0;
	margin: 0;
}

header {
	height: 100vh;
	width: 100vw;
	background: #407afc linear-gradient(45deg, rgba(0, 0, 0, 0), #429cfc);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;

	h1 {
		color: white;
		text-transform: uppercase;
		font-size: 3rem;
		font-weight: 700;
		letter-spacing: 18px;
		margin-left: 18px;
		margin-top: 25px;
	}

	img {
		max-width: 80%;
	}
}

section,
footer {
	margin: 0 auto;
	padding: 50px 20px;
	max-width: $content-width;

	@media (min-width: 800px) {
		padding: 90px 20px;
	}

	h3 {
		margin-top: 3em;
	}

	p:last-child {
		margin-bottom: 0;
	}

	@media (min-width: $content-width + ($overhang * 2)) {
		.logo-styles {
			margin-left: -$overhang;
			margin-right: -$overhang;
		}
	}
}

section + section {
	border-top: 1px solid #e7e7e7;
}